{% extends "Base.html" %}

{% block Title %}404 NOT FOUND{% endblock %}

{% block Style %}
	.travel-bg{
		min-height: 72.3em;
	}
{% endblock %}

{% block Js %}
	{{block.super}}
{% endblock %}

{% block Subject %}
	{{block.super}}
{% endblock %}

{% block ToMail %}
	{{block.super}}
{% endblock %}

{% block Slider %}
	<div class="technology">
		<h3>SORRY !</h3>
		<p>Document or file requested was not found...</p>
		<h2>404</h2>
		<div class="back-to-home">
			<a href="/Home/">Go Back to Home</a>
		</div>
	</div>
{% endblock %}

{% block Main%} {% endblock %}
 
{% block MailTitle %} 
	What do <span class="bold-text">You Want</span>
{% endblock %}

{% block Suggest %}
	{{block.super}}
{%  endblock %}