{% extends "Base.html" %}

{% block Title %}Activity News{% endblock %}

{% block Style %}
	.travel-bg{
		min-height: 72.3em;
	}
{% endblock %}

{% block Js %}
	{{block.super}}
{% endblock %}

{% block Subject %}
	{{block.super}}
{% endblock %}

{% block ToMail %}
	{{block.super}}
{% endblock %}

{% block Slider %} {% endblock %}

{% block Main%}
	<div class="col-md-8 banner-bottom-left" style="padding-left: 0px">
 		<div class="banner-bottom-left-grids travel-bottom-left">
			<h2 >Activity News</h2><P>
			{% for act in ActList reversed %}
				{% ifequal forloop.counter 2 %}
					<div class="col-md-6 banner-left-grid travel-left-grid" >
						<h6 align="center">{{ act.title }}</h6>
						<a href="{{ act.url }}"><img src="{{act.image1}}" alt="" style="width:280px;height:170px"/></a>
						<p class="text"><a href="{{ act.url }}">{% autoescape off %}{{ act.text|slice:"40" }}{% endautoescape %}......</a></p>
					</div>
				{% endifequal %}
				{% ifequal forloop.counter 1 %}
					<div class="col-md-6 banner-left-grid travel-left-grid">
						<h6 align="center">{{ act.title }}</h6>
						<a href="{{ act.url }}"><img src="{{ act.image1 }}" alt="" style="width:280px;height:170px"/></a>
						<p class="text"><a href="{{ act.url }}">{% autoescape off %}{{ act.text|slice:"40" }}{% endautoescape %}......</a></p>
					</div>
				{% endifequal %}
			{% endfor %}
 			<div class="clearfix"> </div>
 		</div>
 	</div>
	<div class="col-md-8 banner-bottom-left" style="padding-left: 30px">
 	<table>
		<tr style="width:300px;" align="center"><h4 align="center">News List</h4></tr>
		<tr>
			<td style="width:50px"><td>
 			<td>
				<div class="archives-info">
					<div class="archives-grid archives-left">
						<ul>
							{% for act in ActList2 reversed %}
								{% ifequal forloop.counter 2 %}
								{% else %}
									{% ifequal forloop.counter 1%}
									{% else %}
										{% if not forloop.counter|divisibleby:2 %}
											<li><a href="{{ act.url }}">{{ act.timestamp}}- {{ act.title }}</a></li>
										{% endif %}
									{% endifequal %}
								{% endifequal %}
							{% endfor %}
						</ul>
					</div>
				</div>
 			</td>
			<td style="width:50px"><td>
 			<td>
				<div class="archives-info">
					<div class="archives-grid archives-left">
						<ul>
						{% for act in ActList2 reversed %}
								{% ifequal forloop.counter 2 %}
								{% else %}
									{% ifequal forloop.counter 1%}
									{% else %}
										{% if forloop.counter|divisibleby:2 %}
											<li><a href={{ act.url }}>{{ act.timestamp}}- {{ act.title }}</a></li>
										{% endif %}
									{% endifequal %}
								{% endifequal %}
							{% endfor %}
						</ul>
					</div>
				</div>
 			</td>
			<td style="width:50px"></td>
 		</tr>
 	</table>
	</div>
 	<div class="clearfix"></div>
 	<div class="up-arrow"></div>
{% endblock %}
 
{% block MailTitle %} 
	{{block.super}}
{% endblock %}

{% block Suggest %}
	{{block.super}}
{%  endblock %}

 
 	
