{% extends "Base.html" %}

{% block Title %}{{news.title}}{% endblock %}

{% block Style %}
	.im2{
		align: center;
		border: 0;
		padding: 4px;
		margin: 0; "
	}
{% endblock %}

{% block Js %}
	{{block.super}}
{% endblock %}

{% block Subject %}
	{{block.super}}
{% endblock %}

{% block ToMail %}
	{{news.email}}
{% endblock %}

{% block Slider %} {% endblock %}

{% block Main%}
	<div class="col-md-12 banner-bottom-left">
		<div class="banner-bottom-left-grids">
			<div class="single-left-grid">
				<h2 style="text-align: center;">{{news.title}}</h2>
				<p style="text-align: center;"><img src="{{news.image1}}" alt="" style="width:350px;height:200px"/></p>
				<h6 style="text-align: center;">{{news.timestamp}}</h6>
				<h6>{% autoescape off %}{{news.author}}{% endautoescape %}</h6>
				<br/>
				<p class="text text1">{% autoescape off %}{{news.text}}{% endautoescape %}
				</p><p align="center"><img class="im2" src="{{news.image2}}" alt="" style="width:270px;height:200px" />
				</p>
				<p><h4 align="center">END</h4></p>
			</div>
		</div>		
	</div>
{% endblock %}
 
{% block MailTitle %} 
	{{block.super}}
{% endblock %}

{% block Suggest %}
	{{block.super}}
{%  endblock %}
